<h2 class="text-center"> Welcome to Java Learning Center </h2>
<br />
<h2 class="text-center"> OnChanges Demo</h2>
<div class="container">
    <table class="table">
        <tr>
            <td><label>Name</label></td>
            <td>
                <input type="text" #nameField value="{{name}}" (keyup)="setValues(nameField,emailField,phoneField)">
            </td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td>
                <input type="text" #emailField value="{{email}}" (keyup)="setValues(nameField,emailField,phoneField)">
            </td>
        </tr>
        <tr>
            <td><label>Phone</label></td>
            <td>
                <input type="text" #phoneField value="{{phone}}" (keyup)="setValues(nameField,emailField,phoneField)">
            </td>
        </tr>
    </table>
    <app-onchange-demo [myname]="name" [myemail]="email" [myphone]="phone"></app-onchange-demo>
</div>